@import "@/styles/utilities/variables.scss";

.movieContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    4deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(199, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 1rem;
  height: 100vh;
  padding-top: 4rem;

  article:first-of-type:only-of-type {
    display: flex;
    align-items: center;
  }

  h6 {
    font-weight: bold;
  }

  img:last-of-type {
    max-width: 300px;
    border-radius: 4px;
  }

  p {
    margin: 5px 0;

    &.label {
      font-weight: bold;
      color: #333;
    }
  }

  ul {
    display: flex;
    gap: 1rem;

    li {
      margin: 0.25rem 0;
      border-radius: 0.25rem;
    }
  }
  section:nth-child(2) {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;

    @media (max-width: 760px) {
      flex-direction: column;
    }

    aside:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: rgba(0, 0, 0, 90%);
      padding: 1rem;
    }
  }
}
