$primary: #000000;
$secondary-color: #e5e5e5;
$tertiary-color: #ff0000;
$accent1-color: #fca311;
$accent2-color: #ffff4a;

// text colors
$text-color: #fff;
$secondary-text-color: #000;
$placeholder-text-color: rgba(0, 0, 0, 0.5);
// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Font families
$default-font: "Inter", sans-serif;
